name: FrontEnd CI

on:
  pull_request:
    paths:
      - "**/*"
      - ".github/workflows/**"
  push:
    branches: [ "main", "feature/cicd" ]

permissions:
  contents: read
  security-events: write

jobs:
  fe-ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [ "24" ]

    steps:
      # Step 1) Checkout
      - name: Checkout
        uses: actions/checkout@v4

      # Step 1.1) Trivy Secret Scan
      - name: Trivy Secret Scan
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: "fs"
          scan-ref: "."
          scanners: "secret"
          format: "table"
          exit-code: "1"

      # Step 1.2) CodeQL Init (SAST 준비)
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript-typescript

      # Step 2) Setup Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      # Step 3) Cache (npm)
      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node${{ matrix.node-version }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node${{ matrix.node-version }}-npm-

      # Step 4) Install dependencies
      - name: Install dependencies
        run: npm ci

      # Step 5) npm audit (취약점 검사)
      - name: npm audit
        run: npm audit --audit-level=high --json > test-results/audit.json || true

      # Step 6) Formatting check
      - name: Formatting check
        run: npm run format:check

      # Step 7) Vitest Tests + 산출물 생성
      - name: Tests
        run: npm run test:run -- --coverage

      # Step 8) Build + 산출물 생성
      - name: Build
        run: npm run build

      # Step 9) CodeQL Analyze (SAST 실행/업로드)
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          category: "/language:javascript-typescript"

      # Step 10) Upload test artifacts
      - name: Upload test artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: fe-artifacts-node${{ matrix.node-version }}
          path: |
            test-results/
            coverage/
          retention-days: 1
          
          
      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
            name: web-dist
            path: dist/
            if-no-files-found: error
            retention-days: 1
